# Composer
/vendor/
composer.lock

# Tools
.php-cs-fixer.cache

# Docker
docker-compose.yml
.docker/Dockerfile

# PHPUnit
/tests/report/
clover.xml
phpunit.xml
.phpunit.result.cache

# IDE & System
.idea/
.DS_Store
